// 设备宽度大于450px的font-size是0.18rem(浏览器)
@media screen and (min-device-width: 450px) {
    body {
        font-size: 0.18rem
    }
}
@media screen and (max-device-width: 450px) {
    body{
        font-size: 0.36rem
    }
}
input{
    border: 1px solid #000;
    font-size: 0.36rem
}
textarea{
    border: 1px solid #000;
    font-size: 0.36rem
}
button{
    font-size: 0.36rem
}
.wrapper{
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    background: #456;
}
