//- !{}非转义
//- #{}转义
<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    #root !{html_data}
    script(type='text/javascript').
        window.REDUX_STATE = !{JSON.stringify(redux_data)}
    